In [1]:
#lets learn list

In [2]:
""""Let us say your expense for every month are listed below,
January - 2200
February - 2350
March - 2600
April - 2130
May - 2190
Create a list to store these monthly expenses and using that find out,"""

"""1. In Feb, how many dollars you spent extra compare to January?
2. Find out your total expense in first quarter (first three months) of the year.
3. Find out if you spent exactly 2000 dollars in any month
4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
5. You returned an item that you bought in a month of April and
got a refund of 200$. Make a correction to your monthly expense list
based on this"""

'1. In Feb, how many dollars you spent extra compare to January?\n2. Find out your total expense in first quarter (first three months) of the year.\n3. Find out if you spent exactly 2000 dollars in any month\n4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list\n5. You returned an item that you bought in a month of April and\ngot a refund of 200$. Make a correction to your monthly expense list\nbased on this'

In [3]:
expense = [2200,2350,2600,2130,2190]

In [6]:
#1
extra = expense[1]-expense[0]
extra

150

In [9]:
#2
firstquater = expense[0]+expense[1]+expense[2]
firstquater

7150

In [ ]:
#3
2000 in expense

False

In [10]:
#4
expense.append(1980)
expense

[2200, 2350, 2600, 2130, 2190, 1980]

In [11]:
expense[3]=expense[3] - 200
expense

[2200, 2350, 2600, 1930, 2190, 1980]

In [26]:
#You have a list of your favourite marvel super heros.
heros=['spider man','thor','hulk','iron man','captain america']

In [13]:
""""1. Length of the list
2. Add 'black panther' at the end of this list
3. You realize that you need to add 'black panther' after 'hulk',
   so remove it from the list first and then add it after 'hulk'
4. Now you don't like thor and hulk because they get angry easily :)
   So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
   Do that with one line of code.
5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)""""arithmetic operator.ipynb"

'"1. Length of the list\n2. Add \'black panther\' at the end of this list\n3. You realize that you need to add \'black panther\' after \'hulk\',\n   so remove it from the list first and then add it after \'hulk\'\n4. Now you don\'t like thor and hulk because they get angry easily :)\n   So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).\n   Do that with one line of code.\n5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)arithmetic operator.ipynb'

In [27]:
#1
len(heros)

5

In [28]:
#2
heros.append("black panther")
print(heros)

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

In [ ]:
#3
heros.remove('black panther')
heros.insert(3,'black panther')
heros

['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']

In [ ]:
#4
#in this we changes two 2 element by just one
heros[1:3] = ['doctor strange']
heros

['spider man',
 'doctor strange',
 'black panther',
 'iron man',
 'captain america']

In [ ]:
#5
#sort helps to sort the list in alphabetical order
heros.sort()
heros

['black panther',
 'captain america',
 'doctor strange',
 'iron man',
 'spider man']